* {
    background-color: whitesmoke;
}

h1 {
    padding: 350px;
    padding-bottom: 50px;
    text-align: center;
}

.navigation {
    display: inline-block;
    margin-left: 50px;
    width: 100px;
    height: 250px;
    text-align: center;
    margin-left: 20%;
}

aside {
  width: 30%;
  padding-left: 10px;
  margin-left: 10px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
