* {
    background-color: gainsboro;
}

h1 {
    padding: 150px;
    padding-bottom: 50px;
    text-align: center;
}

.navigation {
    display: inline-block;
    margin-left: 50px;
    width: 100px;
    height: 250px;
    text-align: center;
    margin-left: 20%;
}

aside {
  width: 30%;
  padding-left: 10px;
  margin-left: 10px;
  float: right;
  font-style: italic;
}

img {
    width: 300px;
    border-radius: 300px 10%;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 150px;
}